*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}
body{
	background-color: #303030;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}
main{
	display: flex;
	max-width: calc(100vw - (1vw + 74px));
}

/* Popup Buttons */
nav{
	position: fixed;
	top: 1vw;
	right: 1vw;
}
.navButton{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 64px;
	height: 64px;
	border-radius: 100%;
	background-color: rgba(255, 255, 255, 1);
	box-shadow: 2px 2px 5px black;
	margin-bottom: 1vw;
	opacity: 0.8;
}
.navButton:hover{
	cursor: pointer;
	opacity: 1;
}

/* Popup */
.blur{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(15px);
	z-index: 1;
}
.popup{
	position: relative;
	width: 300px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
	color: white;
}
.title{
	width: 300px;
	background-color: rgba(93, 156, 236, 0.5);
	padding: 10px 0;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 2px;
}
.popupOptions{
	width: 300px;
	display: flex;
}
.option{
	width: 150px;
	padding: 10px 0;
	text-align: center;
	font-size: 16px;
}
.save{
	background-color: rgba(160, 212, 104, 0.5);
}
.save:hover{
	cursor: pointer;
	background-color: rgba(160, 212, 104, 0.7);
}
.cancel{
	background-color: rgba(237, 85, 101, 0.5);
}
.cancel:hover{
	cursor: pointer;
	background-color: rgba(237, 85, 101, 0.7);
}

/* Setting */
#settingContainer{
	display: none;
}
#backgroundImage{
	width: 300px;
	padding: 10px 0;
	text-align: center;
	margin-bottom: 10px;
}
#backgroundImage h3{
	font-size: 18px;
	letter-spacing: 1px;
	font-weight: 400;
	margin-bottom: 5px;
}
#backgroundLink{
	max-width: 280px;
	min-width: 280px;
	max-height: 100px;
	min-height: 100px;
	background-color: rgba(0, 0, 0, 0);
	color: white;
	border: 2px solid rgba(255, 255, 255, 0.5);
	letter-spacing: 1px;
}

/* Add List */
#addListContainer{
	display: none;
}
#listTitle{
	width: 300px;
	height: 24px;
	text-align: center;
	background:transparent;
    outline:none;
    border:none;
	color: white;
	width:100%;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 2px;
}
#listTitle::placeholder{
	color: rgba(255, 255, 255, 0.5);
}
#listTitle:focus::placeholder{
	color: rgba(255, 255, 255, 0);
}